.serviceProvider-container {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#c5d3dd85, #c5d3dd85),
    linear-gradient(#c5d3dd85, #c5d3dd85),
    url(../../../assets/img/service-bg.png) center center fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0px;
  font-family: "Poppins", sans-serif;
}
.swp-before {
  width: 20px;
  height: 66px;
  background: #FA4319;
  position: absolute;
  margin-left: 465px;
  margin-top: -4px;
}
.swp-after {
  width: 20px;
  height: 66px;
  background: #FA4319;
  position: absolute;
  margin-left: 810px;
  margin-top: -4px;
}
.swp-header {
  text-align: center;
  margin-bottom: 50px !important;
  background: #002a47;
  border-radius: 3px;
  width: 350px;
  padding: 5px;
  margin: auto;
  z-index: 1;
}
.swp-header h1 {
  font-family: "Poppins", sans-serif !important;
  color: #fff;
  font-size: 34px;
}

.serviceProvide-navTab-content {
  display: flex;
  margin: 0px 40px;
}
.navTab {
  margin-top: 20px;
  padding: 40px 50px;
  background: #fff;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 1;
}
.navTab h2 {
  color: #FA4319;
  border-bottom: 4px solid #002a47;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}
.btns{
  border-bottom: 2px solid #FA4319;
  background: none;
  padding: 15px 10px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #002a47;
  z-index: 3;
  transition: 0.8s;
}
.btns:hover{
  color: #fff;
}
.btns::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: #002a47;
  color: #fff;
  z-index: -2;
  transition: 0.8s;
  border-radius: 50% 50% 50 50;
}
.btns:hover::before{
  height: 180%;
}
.active {
  background:#002a47;
  color: #fff;
}

.serviceProvide-content {
  margin-top: 20px;
}
.containt {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: #fff;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.content1 {
  height: 350px;
  border-radius: 5px;
}
.vehicle-header {
  display: flex;
  border-bottom: 3px solid #FA4319;
}
.vehicle-header .icon {
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 50px;
}
.vehicle-header .icon i {
  margin: 5px;
}
.content1 h2 {
  text-align: center;
  margin-left: 35px !important;
  margin: 0px;
  padding: 10px;
  font-weight: 600;
  color: #002a47;
}

.review-header {
  padding-top: 5px;
  border-bottom: 3px solid #FA4319;
}
.review-header h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #002a47;
}
.content2 {
  height: 250px;
  border-radius: 5px;
}

.child {
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.Againchild {
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  text-align: center;
}
.child img {
  height: 100%;
  width: 100%;
}
.vehicle-text {
  width: 60%;
  margin-top: -300px;
  margin-left: 100px;
  font-size: 14px;
  padding: 30px 35px;
  z-index: 2;
  position: relative;
  
}
.vehicle-text::after{
  content: "";
  background: linear-gradient(
    to left,
    rgba(138, 138, 138, 0.082),
    rgba(255, 255, 255, 0.747)
    
  );
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vehicle-text h4 {
  color: #002a47;
  font-weight: 700;
}
.vehicle-text h4 span {
  color: #FA4319;
  font-weight: 700;
}
.vehicle-text p {
  color: #002a47;
  margin-bottom: -2px;
}

.review-user-content {
  display: flex;
}
.review-user-content img {
  margin-left: 80px;
  margin-right: 20px;
  width: 100px !important;
}
.review-user-content p {
  width: 60%;
  text-align: left;
  margin-top: 10px;
}
.review-content img {
  width: 70px;
}
.first {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}
.last {
  transform: rotate(180deg);
  float: right;
  margin-top: -15px;
  margin-right: 15px;
}
