/* Navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  background: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 130px;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 1s;
  z-index: 99999999999999999;
}
.navbar-container {
  margin: auto;
  overflow: hidden !important;
  /* border: 1px solid gainsboro; */
}
#mainlogo {
  top: 0px;
}
#mainlogo img{
  width: 150px;
}

/* Topbar css */
.topBar-container {
  position: absolute;
  margin-left: 250px;
  display: flex;
  font-size: 12px;
  margin-bottom: 40px;
  color: gray;
  padding-bottom: 10px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgb(148, 148, 148),
    rgba(0, 0, 0, 0)
  );
  border-top: none;
  border-left: none;
  border-right: none;
}

.location-container {
  font-weight: 400;
}
.clock-container {
  margin-left: 30px;
  font-weight: 500;
}
.clock-container .open {
  color: green;
}
.clock-container .close {
  color: #fa4319;
  margin-left: 10px;
}
.social-container {
  margin-left: 150px;
}
.social-container span {
  padding: 0px 7px;
  font-size: 15px;
  color: rgb(146, 146, 146);
}

/* nav menu css */
.navbar-nav {
  margin-top: 60px;
  margin-left: 100px;
}
.navbar-nav li {
  font-size: 14px;
  padding: 0px 7px;
  color: rgb(145, 145, 145);
  font-weight: 500;
}
.nav-item:hover .nav-link {
  color: #fa4319 !important;
}
.login {
  min-width: 110px !important;
  text-align: center;
  margin-left: 50px;
  border-radius: 3px;
  background: #fa4319;
  padding: 0px !important;
}
.login:hover {
  cursor: pointer;
}
.login:hover .login-link {
  color: #fff !important;
}
.login-link {
  color: #fff !important;
}
.afterLogin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #002a47;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* margin-left: 180px;
  margin-right: 15px; */
}
.afterLogin img {
  width: 40px;
  margin-top: -8px;
  padding: 0px;
}

.profile-dropdown {
  margin-left: 74%;
  text-align: left;
  border-radius: none;
}
.profile-dropdown ul {
  padding: 0;
}
.profile-dropdown li {
  list-style: none;
  padding: 0;
  font-size: 14px;
  font-weight: 200;
  color: #979797 !important;
  /* border-top: .1px solid gainsboro; */
}

.active {
  color: #fff;
}
/* Resposive css */
@media screen and (max-width: 786px) {
  .topBar-container {
    display: none;
  }
  .navbar {
    height: 90px !important;
    width: 100vw;
    z-index: 99999999999999999999999999;
  }
  .navbar-container {
    width: 100%;
    margin: 100%;
    padding: 0px 20px;
    background: #fff;
  }
  #mainlogo img{
    width: 150px;
  }
  .navbar-nav {
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 20px;
  }
  .nav-menu {
    margin-left: auto;
  }
  .login {
    margin-top: 10px;
  }
  .profile-dropdown {
    width: 200px;
    margin-left: 0%;
    font-size: 12px;
    color: #979797;
  }
}

@media screen and (max-width: 576px) {
  .topBar-container {
    display: none;
  }
  .navbar {
    height: 70px !important;
    width: 100vw;
    z-index: 99999999999999999999999999;
  }
  .navbar-container {
    width: 100%;
    margin: auto;
    padding: 0px 20px;
    background: #fff;
  }
  #mainlogo img{
    width: 100px;
  }
  .navbar-nav {
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 20px;
  }
  .nav-menu {
    margin-left: auto;
  }
  .login {
    margin-top: 10px;
  }
  .profile-dropdown {
    width: 200px;
    margin-left: 0%;
    font-size: 12px;
    color: #979797;
  }
}

@media screen and (max-width: 360px) {
  .topBar-container {
    display: none;
  }
  .navbar {
    height: 90px !important;
    width: 100vw;
    z-index: 99999999999999999999999999;
  }
  .navbar-container {
    width: 100%;
    margin: auto;
    padding: 0px 12px;
    background: #fff;
  }
  #mainlogo img{
    width: 100px;
  }
  .navbar-nav {
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 20px;
  }
  .nav-menu {
    margin-left: auto;
  }
  .login {
    margin-top: 10px;
  }
  .profile-dropdown {
    width: 100px;
    color: #979797;
  }
  .profile-dropdown {
    margin-left: 40px;
  }
  .profile-dropdown li{
    font-size: 12px;
    color: #979797;
    font-weight: 200;
  }
}
