.tapToDeliveryProduct {
  position: fixed;
  bottom: 70px;
  margin-left: 90%;
  width: 140px;
  padding: 20px 10px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  border: 1px solid gainsboro;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* box-shadow: 0 0 5px #fc0b0b,
  0 0 5px #fc0b0b;
  animation: shadowcolorChange 4s linear infinite; */
}

/* @keyframes shadowcolorChange{
    0%{
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg)
    }
} */
.tapToDeliveryProduct a {
  text-decoration: none;
  color: gray;
}

.parcelCar {
  margin: auto;
}
.car {
  z-index: 3;
}

.car p {
  color: rgb(53, 53, 53);
  font-weight: 600;
}

.car p span {
  color: rgb(255, 17, 17);
}

.parcelCar p {
  font-size: 12px;
  margin-bottom: -10px;
  z-index: 9;
}
.parcel-carHead {
  width: 50px;
  height: 50px;
  margin-left: 4px;
  margin-bottom: -3px;
  z-index: 2;
  border: 1px solid rgb(46, 46, 46);
  background: rgb(218, 218, 218);
  -webkit-clip-path: polygon(43% 20%, 74% 20%, 74% 64%, 25% 63%, 25% 41%);
  clip-path: polygon(43% 20%, 74% 20%, 74% 64%, 25% 63%, 25% 41%);
}
.parcel-carBody {
  width: 120px;
  height: 100px;
  border: 1px solid rgb(46, 46, 46);
  background: rgb(218, 218, 218);
  position: absolute;
  margin-top: -65px;
  margin-left: 15px;
  -webkit-clip-path: polygon(19% 17%, 71% 17%, 71% 51%, 19% 50%);
  clip-path: polygon(19% 17%, 71% 17%, 71% 51%, 19% 50%);
}
.parcelCar img {
  width: 40px;
  position: absolute;
  margin-top: -40px;
  margin-left: -7px;
}

.parcel-carWheel {
  width: 35px;
  height: 35px;
  z-index: 3;
  border: 1px solid rgb(46, 46, 46);
  background: rgb(99, 99, 99);
  position: absolute;
  margin-top: -30px;
  margin-left: 20px;
  -webkit-clip-path: ellipse(25% 25% at 50% 50%);
  clip-path: ellipse(25% 25% at 50% 50%);
}
.parcel-carWheelIn {
  width: 20px;
  height: 20px;
  z-index: 3;
  border: 1px solid rgb(46, 46, 46);
  background: rgb(224, 224, 224);
  position: absolute;
  margin-top: -22.5px;
  margin-left: 27.5px;
  -webkit-clip-path: ellipse(25% 25% at 50% 50%);
  clip-path: ellipse(25% 25% at 50% 50%);
}

.parcel-carWheel2 {
  width: 35px;
  height: 35px;
  z-index: 3;
  border: 1px solid rgb(46, 46, 46);
  background: rgb(99, 99, 99);
  position: absolute;
  margin-top: -30px;
  margin-left: 65px;
  -webkit-clip-path: ellipse(25% 25% at 50% 50%);
  clip-path: ellipse(25% 25% at 50% 50%);
}

.parcel-carWheel2In {
  width: 20px;
  height: 20px;
  z-index: 3;
  border: 1px solid rgb(46, 46, 46);
  background: rgb(224, 224, 224);
  position: absolute;
  margin-top: -22.5px;
  margin-left: 72.5px;
  -webkit-clip-path: ellipse(25% 25% at 50% 50%);
  clip-path: ellipse(25% 25% at 50% 50%);
}

.road-animation {
  position: absolute;
  margin-top: -100px;
  z-index: -1;
  animation: movingRoad 0.8s infinite;
}

.dash {
  width: 70px;
  height: 2px;
  background: rgb(83, 83, 83);
  margin: 5px 0px;
}

.dash1 {
  margin-left: 30px;
  background-color: rgb(197, 141, 38);
}

.dash2 {
  background-color: rgb(255, 81, 0);
  width: 20px;
  margin-left: -10px;
}
.dash3 {
  margin-left: 35px;
  width: 35px;
  background-color: rgb(145, 19, 11);
}

.dash4 {
  margin-left: -40px;
  width: 50px;
  background-color: rgb(0, 75, 0);
}
.dash5 {
  margin-left: 70px;
}
.dash6 {
  margin-left: 0px;
  width: 80px;
}
.dash7 {
  width: 90px;
  margin-left: -50px;
}

.dash8 {
  margin-left: -100px;
  width: 250px;
  background-color: #222;
}
.dash9 {
  margin-right: 30px;
}
@keyframes movingRoad {
  0% {
    left: 0px;
  }
  25% {
    left: 25px;
  }
  50% {
    left: 45px;
  }
  75% {
    left: 65px;
  }
  100% {
    left: 70px;
  }
}

@media screen and (max-width: 786px) {
  .tapToDeliveryProduct {
    margin-left: 70vw;
    height: 95px;
    width: 100px;
    padding: 10px;
    z-index: 9999999999;
    border-radius: 12px;
    border: 1px solid rgb(94, 94, 94);
  }
  .parcelCar p {
    font-size: 10px;
    /* margin-bottom: -2px; */
    line-height: 10px;
    margin-top: 8px;
  }

  .parcel-carHead {
    width: 40px;
    height: 40px;
    margin-left: -5px;
    margin-bottom: -15px;
  }
  .parcel-carBody {
    width: 100px;
    height: 80px;
    border: 1px solid rgb(46, 46, 46);
    background: rgb(218, 218, 218);
    position: absolute;
    margin-top: -40px;
    margin-left: 5px;
  }
  .parcelCar img {
    position: absolute;
    margin-top: -20px;
    margin-left: -5px;
    width: 30px;
  }

  .parcel-carWheel {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -14px;
    margin-left: 8px;
  }
  .parcel-carWheelIn {
    width: 15px;
    height: 15px;
    z-index: 3;
    border: 1px solid rgb(46, 46, 46);
    background: rgb(224, 224, 224);
    position: absolute;
    margin-top: -6.5px;
    margin-left: 15.5px;
    -webkit-clip-path: ellipse(25% 25% at 50% 50%);
    clip-path: ellipse(25% 25% at 50% 50%);
  }

  .parcel-carWheel2 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -14px;
    margin-left: 45px;
  }

  .parcel-carWheel2In {
    width: 15px;
    height: 15px;
    z-index: 3;
    border: 1px solid rgb(46, 46, 46);
    background: rgb(224, 224, 224);
    position: absolute;
    margin-top: -6.5px;
    margin-left: 52.5px;
    -webkit-clip-path: ellipse(25% 25% at 50% 50%);
    clip-path: ellipse(25% 25% at 50% 50%);
  }

  .road-animation {
    position: absolute;
    margin-top: -73px;
    z-index: -1;
    animation: movingRoad 0.8s infinite;
  }

  .dash {
    width: 70px;
    height: 1px;
    background: rgb(83, 83, 83);
    margin: 5px 0px;
  }
  
  .dash1 {
    margin-left: 30px;
    background-color: rgb(197, 141, 38);
  }
  
  .dash2 {
    background-color: rgb(255, 81, 0);
    width: 20px;
    margin-left: -10px;
  }
  .dash3 {
    margin-left: 35px;
    width: 35px;
    background-color: rgb(145, 19, 11);
  }
  
  .dash4 {
    margin-left: -40px;
    width: 50px;
    background-color: rgb(0, 75, 0);
  }
  .dash5 {
    margin-left: 70px;
  }
  .dash6 {
    margin-left: 0px;
    width: 80px;
  }
  .dash7 {
    width: 90px;
    margin-left: -50px;
  }
  
  .dash8 {
    margin-left: -100px;
    width: 250px;
    background-color: #222;
  }
  .dash9 {
    margin-right: 30px;
  }
}

@media screen and (max-width: 576px) {
  .tapToDeliveryProduct {
    bottom: 180px;
    margin-left: 70vw;
    height: 95px;
    width: 100px;
    padding: 10px;
    z-index: 9999999999;
    border-radius: 12px;
    border: 1px solid rgb(94, 94, 94);
  }
  .parcelCar p {
    font-size: 10px;
    /* margin-bottom: -2px; */
    line-height: 10px;
    margin-top: 8px;
  }

  .parcel-carHead {
    width: 40px;
    height: 40px;
    margin-left: -5px;
    margin-bottom: -15px;
  }
  .parcel-carBody {
    width: 100px;
    height: 80px;
    border: 1px solid rgb(46, 46, 46);
    background: rgb(218, 218, 218);
    position: absolute;
    margin-top: -40px;
    margin-left: 5px;
  }
  .parcelCar img {
    position: absolute;
    margin-top: -20px;
    margin-left: -5px;
    width: 30px;
  }

  .parcel-carWheel {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -14px;
    margin-left: 8px;
  }
  .parcel-carWheelIn {
    width: 15px;
    height: 15px;
    z-index: 3;
    border: 1px solid rgb(46, 46, 46);
    background: rgb(224, 224, 224);
    position: absolute;
    margin-top: -6.5px;
    margin-left: 15.5px;
    -webkit-clip-path: ellipse(25% 25% at 50% 50%);
    clip-path: ellipse(25% 25% at 50% 50%);
  }

  .parcel-carWheel2 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -14px;
    margin-left: 45px;
  }

  .parcel-carWheel2In {
    width: 15px;
    height: 15px;
    z-index: 3;
    border: 1px solid rgb(46, 46, 46);
    background: rgb(224, 224, 224);
    position: absolute;
    margin-top: -6.5px;
    margin-left: 52.5px;
    -webkit-clip-path: ellipse(25% 25% at 50% 50%);
    clip-path: ellipse(25% 25% at 50% 50%);
  }

  .road-animation {
    position: absolute;
    margin-top: -73px;
    z-index: -1;
    animation: movingRoad 0.8s infinite;
  }

  .dash {
    width: 70px;
    height: 1px;
    background: rgb(83, 83, 83);
    margin: 5px 0px;
  }
  
  .dash1 {
    margin-left: 30px;
    background-color: rgb(197, 141, 38);
  }
  
  .dash2 {
    background-color: rgb(255, 81, 0);
    width: 20px;
    margin-left: -10px;
  }
  .dash3 {
    margin-left: 35px;
    width: 35px;
    background-color: rgb(145, 19, 11);
  }
  
  .dash4 {
    margin-left: -40px;
    width: 50px;
    background-color: rgb(0, 75, 0);
  }
  .dash5 {
    margin-left: 70px;
  }
  .dash6 {
    margin-left: 0px;
    width: 80px;
  }
  .dash7 {
    width: 90px;
    margin-left: -50px;
  }
  
  .dash8 {
    margin-left: -100px;
    width: 250px;
    background-color: #222;
  }
  .dash9 {
    margin-right: 30px;
  }
}
@media screen and (max-width: 360px) {
  .tapToDeliveryProduct {
    margin-left: 70vw;
    height: 95px;
    width: 100px;
    padding: 10px;
    z-index: 9999999999;
    border-radius: 12px;
    border: 1px solid rgb(94, 94, 94);
  }
  .parcelCar p {
    font-size: 10px;
    /* margin-bottom: -2px; */
    line-height: 10px;
    margin-top: 8px;
  }

  .parcel-carHead {
    width: 40px;
    height: 40px;
    margin-left: -5px;
    margin-bottom: -15px;
  }
  .parcel-carBody {
    width: 100px;
    height: 80px;
    border: 1px solid rgb(46, 46, 46);
    background: rgb(218, 218, 218);
    position: absolute;
    margin-top: -40px;
    margin-left: 5px;
  }
  .parcelCar img {
    position: absolute;
    margin-top: -20px;
    margin-left: -5px;
    width: 30px;
  }

  .parcel-carWheel {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -14px;
    margin-left: 8px;
  }
  .parcel-carWheelIn {
    width: 15px;
    height: 15px;
    z-index: 3;
    border: 1px solid rgb(46, 46, 46);
    background: rgb(224, 224, 224);
    position: absolute;
    margin-top: -6.5px;
    margin-left: 15.5px;
    -webkit-clip-path: ellipse(25% 25% at 50% 50%);
    clip-path: ellipse(25% 25% at 50% 50%);
  }

  .parcel-carWheel2 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -14px;
    margin-left: 45px;
  }

  .parcel-carWheel2In {
    width: 15px;
    height: 15px;
    z-index: 3;
    border: 1px solid rgb(46, 46, 46);
    background: rgb(224, 224, 224);
    position: absolute;
    margin-top: -6.5px;
    margin-left: 52.5px;
    -webkit-clip-path: ellipse(25% 25% at 50% 50%);
    clip-path: ellipse(25% 25% at 50% 50%);
  }

  .road-animation {
    position: absolute;
    margin-top: -73px;
    z-index: -1;
    animation: movingRoad 0.8s infinite;
  }

  .dash {
    width: 70px;
    height: 1px;
    background: rgb(83, 83, 83);
    margin: 5px 0px;
  }
  
  .dash1 {
    margin-left: 30px;
    background-color: rgb(197, 141, 38);
  }
  
  .dash2 {
    background-color: rgb(255, 81, 0);
    width: 20px;
    margin-left: -10px;
  }
  .dash3 {
    margin-left: 35px;
    width: 35px;
    background-color: rgb(145, 19, 11);
  }
  
  .dash4 {
    margin-left: -40px;
    width: 50px;
    background-color: rgb(0, 75, 0);
  }
  .dash5 {
    margin-left: 70px;
  }
  .dash6 {
    margin-left: 0px;
    width: 80px;
  }
  .dash7 {
    width: 90px;
    margin-left: -50px;
  }
  
  .dash8 {
    margin-left: -100px;
    width: 250px;
    background-color: #222;
  }
  .dash9 {
    margin-right: 30px;
  }
}
