.whychooseus-container {
  margin-top: 150px;
  font-family: "Poppins", sans-serif;
}
.wcu-header {
  text-align: center;
  margin-bottom: 50px !important;
  background: #002a47;
  border-radius: 3px;
  width: 320px;
  padding: 5px;
  margin: auto;
  z-index: 1;
}
.wcu-header h1 {
  color: #fff;
  font-size: 34px;
}
.wcu-before {
  width: 20px;
  height: 66px;
  background: #FC0B0B;
  position: absolute;
  margin-left: 480px;
  margin-top: -4px;
}
.wcu-after {
  width: 20px;
  height: 66px;
  background: #FC0B0B;
  position: absolute;
  margin-left: 795px;
  margin-top: -4px;
}

.whyChooseUs-content {
  margin-top: 20px;
}

.Delivery-container {
  width: 80%;
  padding: 5px 20px;
  display: flex;
  margin: 20px 0px;
}
.Delivery-container .icon {
  font-size: 45px;
  margin: 0px 20px;
  color: #FC0B0B;
  display: flex;
}
.Delivery-content h3 {
  font-size: 22px;
  font-weight: 600;
  color: #002a47;
  margin-bottom: 10px;
}
.Delivery-content p {
  color: #757575;
}

.count-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
.parcel-delivered-count,
.Expert-employee-count,
.satisfied-client-count,
.branches-count {
  width: 210px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 40px;
  margin: 0px 40px;
  text-align: center;
  color: #FC0B0B;
  position: relative;
}
.parcel-delivered-count p,
.Expert-employee-count p,
.satisfied-client-count p,
.branches-count p {
  font-size: 14px;
}
.parcel-delivered-count::after,
.satisfied-client-count::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid #FC0B0B;
  border-bottom: none;
  border-right: none;
  left: 0px;
  top: -5px;
  bottom: 15px;
  right: 15px;
  z-index: -1;
}
.Expert-employee-count,
.branches-count{
  color: #002a47;
}
.Expert-employee-count small,
.branches-count small{
  color: #FC0B0B;
}
.Expert-employee-count:hover small,
.branches-count:hover small{
  color: #002a47;
}
.Expert-employee-count:hover,
.branches-count:hover{
  cursor: pointer;
  color: #FC0B0B;
}
.Expert-employee-count:hover:after,
.branches-count:hover:after{
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid #FC0B0B;
  border-bottom: none;
  border-right: none;
  left: 0px;
  top: -5px;
  bottom: 15px;
  right: 15px;
  z-index: -1;
}
.count-container-border1,
.count-container-border2,
.count-container-border3 {
  background: rgb(182, 182, 182);
  width: 3px !important;
  height: 70px;
  margin: 0px 20px;
  position: absolute;
}
.count-container-border1 {
  margin-left: 310px;
  margin-top: -120px;
}
.count-container-border2 {
  margin-left: 645px;
  margin-top: -120px;
}
.count-container-border3 {
  margin-left: 977px;
  margin-top: -120px;
}

