.contact-explore-btn{
    margin-top: -320px;
    z-index: 9999;
    position: absolute;
    margin-left: 305px;
}
.contactUsBtn {
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    background: #FA4319;
    padding: 12px 40px;
    color: #ffffff;
    margin-right: 20px;
}
.contactUsBtn:hover{
    background: #002a47;
}
.servicesBtn{
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    background: #ffffff ;
    padding: 12px 40px;
    color: #FA4319;
    margin-right: 10px;
}
.servicesBtn:hover{
    background: #002a47;
    color: #ffffff;
}
