.contact-explore-btn{
    margin-top: -320px;
    z-index: 9999;
    position: absolute;
    margin-left: 18.2%;
}
.contact-explore-btn button{
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    background: #FC0B0B;
    padding: 12px 40px;
    color: #ffffff;
    margin-right: 20px;
}
.contact-explore-btn button:hover{
    background: #ffffff;
    color: #FC0B0B;
    
}
.contact-explore-btn button:last-child{
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    padding: 12px 40px;
    color: #FC0B0B;
    margin-right: 10px;
}
.contact-explore-btn button:last-child:hover{
    background: #002a47;
    color: #ffffff;
}